* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* Establece la fuente REM de 16px a 10px */
    font-family: Arial, Helvetica, sans-serif;
}

.login-page, .signUp-page {
    background-image: url("images/fondo-huellitas.jpeg");
}

.login-p, .signUp-p {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.dog-hi, .happy-dogs {
    display: none;
}

.login-info, .signUp-info {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    max-width: 42rem;
    background-color: #F5F5F5;
    opacity: 0.9;
    border-radius: 10px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.logo-login {
    width: 50%;
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

h2 .title-msg {
    width: 70%;
    min-width: 350px;
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    margin: 1rem 0;
    font-size: 2.5rem;
    text-align: center;
}

p{
    margin: 1rem 0;
    font-size: 1.5rem;
    text-align: center;
}

.page-1, .page-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.nickname, .birthDate, .passwordVerified, .registerGoogle, .email, .password, .startSesion, .startGoogle, h3 {
    margin: 1rem;
}

.icon-Google {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 5px;
}

.nickname, .birthDate, .passwordVerified, .email, .password {
    width: 70%;
    background-color: #F5F5F5;
    font-size: 1.4rem;
    padding: 12px;
    border-radius: 7px;
    border-width: 1px;
}

::placeholder {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.4rem;
    text-align: center;
    min-width: 350px;
}

.go-pageRegister {
    cursor: pointer;
}

.registerGoogle, .acept, .startGoogle, .startSesion {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 20px;
    border-width: 1px;
    cursor: pointer;
}

.registerGoogle, .nickname {
    margin-top: 1rem;
}

dialog {
    max-width: 280px;
    padding: 35px 12px;
    margin: auto;
    border: 4px solid #321c3b;
    background-color: #FAFAFA;
  }

  .modalBtns{
    display: flex;
    justify-content: center;
  }

@media (min-width: 768px) {

    .login-info, .signUp-info {
        width: 40rem;
    }
    .login-p, .signUp-p {        
        justify-content: space-evenly; 
        margin: 0 10rem;
    }

    .dog-hi {
        display: block;
        width: 30rem;
    }

    .happy-dogs {
        display: block;
        width: 35rem;
        border-radius: 10px;
    }

    h2 {
        margin: 2rem 0;
        font-size: 3rem;
    }
    
    p{
        margin: 2rem 0;
        font-size: 2rem;
    }

}

@media (min-width: 1300px) {

    .login-p, .signUp-p{
        margin: 0 15rem;
    }

    .dog-hi {
        display: block;
        width: 40rem;
    }

    .happy-dogs {
        display: block;
        width: 50rem;
    }
}
    